html{
    font-family: "Geologica";
}

.start{
    border-style: groove;
    border-radius: 15 px;
    padding: 15px 15px 15px 15px;
}
.main{
    border-style: groove;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
}